/* src/components/RecommendationPage.css */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(to bottom, hsl(233, 89%, 4%), 60%, #00010f);
}

.animation-container {
  margin: auto auto;
  transition: all 2s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 15vh;
  border: none;
  outline: none;
  
  background: linear-gradient(to bottom, hsla(240, 50%, 30%, 0.5), rgba(64, 64, 191, 0));
  color: white;
  font-size: 16px;
  cursor: pointer;

  transform: translateY(-20%);

  transition: all 0.5s ease-in-out;
}

.back-button:hover {
  transform: translateY(0);
}

.back-title {
  font-family: 'Mukta', sans-serif;
  letter-spacing: 0.7rem;

  animation: breathing-opacity 4s infinite;

}

/* create a breathing opacity infinite animation for back-title*/
@keyframes breathing-opacity {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.title-container-rec {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 42vw;
  height: 20vh;
}

.title-rec {
  font-family: 'Mukta', sans-serif;
  position: absolute;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 200;

  opacity: 0.6;
}

.subtitle-rec {
  font-family: 'Mukta', sans-serif;
  position: absolute;

  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin: 1.75rem 0 0 0;
}

.recommendation-table {
  width: 42vw;
  border-collapse: collapse;
  border: none;
  text-align: left;
  user-select: none;
}

.recommendation-table th {
  font-family: 'Mukta', sans-serif;
  border: none;
  background-color: none;
  text-align: left;

  padding: .2rem 0 .2rem 0;

  font-size:  .7rem;
  color: white;
  opacity: 0.6;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.recommendation-table td {
  font-size:  1rem;
  color: white;
  letter-spacing: 0.05rem;
  font-weight: 400;

  padding: .45rem 0 .45rem 0;

  border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
  transition: all 0.2s ease-in-out;

}

.recommendation-row:hover td {
  color: rgb(83, 183, 255)
}

.share-icon {
  border-radius: 10rem;
  padding: .3rem;
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}

.share-icon:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

.share-icon:active {
  transform: scale(0.9);
}